In [3]:
import pandas as pd

base_path = "/home/vishal/datasets/exams/Infrrd/"
train_path = base_path+ "train.csv"
test_path = base_path +"test.csv"

dataset = pd.read_csv(train_path)
dataset.head()

  purchasing_cost repair_cost windows people   space safety         label
0            high   very_high   5more   more  medium    med  unacceptable
1       very_high      medium       4   more     big    low  unacceptable
2          medium      medium   5more      4  medium    low  unacceptable
3            high        high       2   more  medium   high    acceptable
4            high   very_high   5more      2     big   high  unacceptable

In [19]:
#dataset.dtypes
#dataset.shape   (1382, 7)
#dataset.describe()

#dataset['purchasing_cost'].value_counts(dropna =False)
#dataset['repair_cost'].value_counts(dropna =False)
#dataset['windows'].value_counts(dropna =False)
#dataset['people'].value_counts(dropna =False)
#dataset['space'].value_counts(dropna =False)
#dataset['safety'].value_counts(dropna =False)
dataset['label'].value_counts(dropna =False)

unacceptable    974
acceptable      298
very_good        56
good             54
Name: label, dtype: int64