In [1]:
import pandas as pd
import spacy

In [2]:
base_path = "/home/vishal/Datasets/BBC-Dataset-News-Classification/"
train_path = base_path + "dataset.csv"
dataset = pd.read_csv(train_path, encoding='ISO-8859-1')
dataset.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

In [3]:
nlp = spacy.load('en')

In [8]:
doc = nlp(u'the man reading the news is very tall')

In [9]:
for tkn in doc.noun_chunks:
    print(tkn.text)

the man
the news

In [10]:
for tkn in doc.noun_chunks:
    print(tkn.root.text)

man
news

In [11]:
for tkn in doc.noun_chunks:
    print(tkn.root.text, 'connector_text:', tkn.root.head.text)

man connector_text: is
news connector_text: reading