In [1]:
import pandas as pd
import spacy
nlp = spacy.load('en')

In [4]:
# Data path 

base_path = "C:\\Users\\vbabu\\MStar\Datasets\\sentiment_labelled_sentences\\"
yelp = base_path + "yelp_labelled.txt"
imdb = base_path + "imdb_labelled.txt"
amazon = base_path + "amazon_cells_labelled.txt"

In [5]:
# load data sets
df_yelp = pd.read_table(yelp)
df_imdb = pd.read_table(imdb)
df_amz = pd.read_table(amazon)

In [7]:
df_amz.head()

,So there is no way for me to plug it in here in the US unless I go by a converter.,0
0,"Good case, Excellent value.",1
1,Great for the jawbone.,1
2,Tied to charger for conversations lasting more...,0
3,The mic is great.,1
4,I have to jiggle the plug to get it to line up...,0

In [16]:
# concatenate dataset
frames = [df_yelp, df_imdb, df_amz]

In [17]:
for colname in frames:
    colname.columns = ['msg', 'target']

In [18]:
for colname in frames:
    print(colname.columns)

Index(['msg', 'target'], dtype='object')
Index(['msg', 'target'], dtype='object')
Index(['msg', 'target'], dtype='object')

In [19]:
keys = ['yelp', 'imdb', 'amz']

In [20]:
df = pd.concat(frames, keys=keys)

In [21]:
df.head()

                                                      msg  target
yelp 0                                 Crust is not good.       0
     1          Not tasty and the texture was just nasty.       0
     2  Stopped by during the late May bank holiday of...       1
     3  The selection on the menu was great and so wer...       1
     4     Now I am getting angry and I want my damn pho.       0

In [22]:
df.shape

(2745, 2)

In [23]:
df.to_csv(base_path + "sentinemtdataset.csv")

In [24]:
df.columns

Index(['msg', 'target'], dtype='object')

In [26]:
df.isnull().sum()

msg       0
target    0
dtype: int64

In [27]:
# working with spacy
# 1. Remove stop word
# 2. Lemmatizing

In [28]:
from spacy.lang.en.stop_words import  STOP_WORDS
stopword = list(STOP_WORDS)

In [29]:
stopword[:10]

['keep',
 'his',
 'whatever',
 'such',
 'anything',
 'fifty',
 'i',
 'nine',
 'some',
 'themselves']

In [33]:
# Lemmatizing
docx = nlp(u'This is how jhon walker was walking. He was also running besides the lawn')
for word in docx:
    if word.lemma_ != '-PRON-':
        print(word.text, 'Lemma=>', word.lemma_)

This Lemma=> this
is Lemma=> be
how Lemma=> how
jhon Lemma=> jhon
walker Lemma=> walker
was Lemma=> be
walking Lemma=> walk
. Lemma=> .
was Lemma=> be
also Lemma=> also
running Lemma=> run
besides Lemma=> besides
the Lemma=> the
lawn Lemma=> lawn

In [35]:
# list comprehansion for lemma
[word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in docx]

['this',
 'be',
 'how',
 'jhon',
 'walker',
 'be',
 'walk',
 '.',
 'he',
 'be',
 'also',
 'run',
 'besides',
 'the',
 'lawn']

In [36]:
# filtering out stopword and punchuation
for word in docx:
    if word.is_stop ==False and not word.is_punct:
        print(word)

This
jhon
walker
walking
He
running
lawn

In [37]:
# list conprehancion for stopword and lemma

[word for word in docx if word.is_stop ==False and not word.is_punct]

[This, jhon, walker, walking, He, running, lawn]

In [41]:
# use puctuations of string module

import string
puctuations = string.punctuation

# Create a spacy parser

from spacy.lang.en import English
parser = English()

In [42]:
def spacy_tokenizer(sentence):
    tkn = parser(sentence)
    tkn = [word.lemma_.lower().strip() if word.lemma_ != "-PRON-" else word.lower_ for word in tkn]
    tkn = [word for word in tkn if word not in stopword and word not in puctuations]
    return tkn

In [ ]:
# machine learning with sk_learn

from sklearn.feature_extraction.text import  CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.base